/* ####################################################
:: Template Name: Essence - Fashion Ecommerce Template
:: Author: Colorlib
:: Author URL: https://colorlib.com
:: Description: Essence is smart & elegant fashion e-commerce Template. It's suitable for all e-commerce business platform.
:: Version: 1.0.0
:: Created: April 27, 2018
:: Last Updated: May 2, 2018
#################################################### */

/* ---------------------------------------
##### - PLACE YOUR CUSTOM CSS HERE - #####
--------------------------------------- */




.logout, .logout:focus, .logout:active {
    border: none;
    outline: none;
    background: transparent;
    background-color: transparent;
    background-image: none;
}

.leave-comment{
    padding: 50px;
}

input[type="text"], input[type="password"] {
    font-size: 18px;
}

.not-found {
    font-size: 24px;
}

.product-img {

    height: 230px;
}

 /* корректное отображение пагинатора | можно поправить в core-style.css*/
ul.pagination {
    position: relative;
    z-index: 1; }
ul.pagination > li > a, ul.pagination > li > span  {
    width: 40px;
    height: 40px;
    border: 1px solid #ebebeb;
    font-size: 12px;
    font-weight: 600;
    line-height: 38px;
    padding: 0;
    text-align: center;
    color: #787878; }
ul.pagination > li > a:hover, ul.pagination > li > a:focus {
    color: #0315ff;
    box-shadow: none; }
ul.pagination > li:first-child {
    margin-right: 15px; }
ul.pagination >li:first-child > a, ul.pagination >li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
ul.pagination > li:last-child {
    margin-left: 15px; }
ul.pagination > li:last-child > a, ul.pagination > li:last-child > span {
    margin-left: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }

.btn{
    font-weight: 600;
    font-size: 12px; }

.dropdown-width-fix{
    min-width: 100%;
}

.dropdown-width-fix > .list{
    min-width: 100%;
}
